* {
  font-family: "Open Sans", sans serif;
  box-sizing: border-box;
}
body {
  margin: 2% 7%;
}
h2 {
  text-align: center;
  font-family: "Graduate", sans-serif;
}
input {
  margin: 20px 0px 10px 0px;
  padding: 10px 0px;
  font-size: 18px;
  display: block;
  width: 100%;
  line-height: 18px;
}
button {
  margin: 20px 0px 10px 0px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid black;
  outline: transparent;
  display: block;
  background-color: #f1f3de;
  color: #00293c;
}
button:hover {
  cursor: pointer;
  background-color: #ffdf00;
  border: solid 1px transparent;
}
h3 {
  display: block;
}
#teamNames {
  color: #00293c;
}

#voteList1Wrapper,
#voteList2Wrapper {
  text-transform: capitalize;
  margin-top: 10px;
  background-color: #f1f1f2;
  padding: 2px 25px;
}
#main-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  background-color: #d0e1f9;
  align-items: top;
}
.capitalize {
  text-transform: capitalize;
}
#inputArea {
  /*   float:left; */
  margin: 20px 0px 30px 0px;
  background-color: #283655;
  padding: 5% 5%;
  box-shadow: 0px 10px 10px;
}
/* h3{
    clear: both;
  } */
#data-analysis {
  clear: both;
}
li {
  padding: 3px 0px;
}
@media screen and (max-width: 700px) {
  #main-header {
    display: block;
  }
  ul {
    text-align: center;
    margin: 3px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
  }
  #teams-title {
    text-align: center;
    padding-top: 15px;
  }
}
